In [1]:
#使用ライブラリ
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
#データ読込
train = pd.read_csv(filepath_or_buffer="/home/y-toyoda/data/bank/train.csv")

In [3]:
#構築データの割合
rate = 0.7

#構築データ数（少数の切捨て）
num = round(len(train) * rate)

In [4]:
########ランダムに構築データを取得########
#再現性のため乱数シードを固定
#sample(ランダムに取得する個数, 乱数シード)
row = train.sample(n=num, random_state=17)
#構築データ
#row が検証データのDataFrameになっている

In [5]:
#検証データ
train_test = train.drop(row.index.values)

In [6]:
#1行でも分離可能
other_train, other_test = train_test_split(train, test_size=0.3, random_state=0)

#確認
print(other_train)
print(other_test)

          id  age           job   marital  education default  balance housing  \
5909    5910   42    management    single   tertiary      no     7560      no
3499    3500   29    technician   married  secondary      no      266     yes
5982    5983   30    technician    single   tertiary      no        0     yes
24962  24963   41    management   married   tertiary      no     -499      no
22891  22892   29    management    single  secondary      no        0      no
...      ...  ...           ...       ...        ...     ...      ...     ...
13123  13124   39    technician  divorced  secondary      no      394     yes
19648  19649   51       retired   married    primary      no       34     yes
9845    9846   31   blue-collar   married  secondary      no      150     yes
10799  10800   38  entrepreneur   married  secondary      no      593     yes
2732    2733   31    management   married   tertiary      no     6138      no

      loan    contact  day month  duration  campaign  pdays  previous  \
5909    no   cellular   28   jan       132         1     -1         0
3499    no   cellular   18   may       208         1     -1         0
5982    no   cellular   13   aug       150         4     -1         0
24962   no   cellular   31   jul        21        17     -1         0
22891  yes   cellular   21   jul       463         2     -1         0
...    ...        ...  ...   ...       ...       ...    ...       ...
13123   no    unknown   29   may       184         1     -1         0
19648   no   cellular   16   jul        69         2     -1         0
9845    no  telephone   14   may        68         2     -1         0
10799  yes   cellular   24   jul      1484        24     -1         0
2732    no   cellular   19   jun       241         5     -1         0

      poutcome  y
5909   unknown  1
3499   unknown  0
5982   unknown  0
24962  unknown  0
22891  unknown  0
...        ... ..
13123  unknown  0
19648  unknown  0
9845   unknown  0
10799  unknown  1
2732   unknown  0

[18989 rows x 18 columns]
          id  age          job   marital  education default  balance housing  \
22824  22825   31       admin.    single  secondary      no      223     yes
4197    4198   50   management   married   tertiary      no     4374     yes
19743  19744   28       admin.    single   tertiary      no       14      no
18971  18972   30   technician  divorced  secondary      no        4     yes
2931    2932   46      unknown   married    primary      no      110      no
...      ...  ...          ...       ...        ...     ...      ...     ...
15522  15523   42   technician   married   tertiary      no     1619      no
18919  18920   40  blue-collar   married  secondary     yes      231     yes
13801  13802   40  blue-collar    single    primary      no     1530     yes
2764    2765   39       admin.   married  secondary      no        0      no
22174  22175   35   technician  divorced  secondary      no       84     yes

      loan   contact  day month  duration  campaign  pdays  previous poutcome  \
22824   no  cellular   17   apr       508         1    315        11  success
4197    no  cellular   21   nov       163         2    113         3  failure
19743   no  cellular    1   jun       201         1     -1         0  unknown
18971   no   unknown   20   may       270         1     -1         0  unknown
2931    no   unknown   19   jun       113        14     -1         0  unknown
...    ...       ...  ...   ...       ...       ...    ...       ...      ...
15522   no  cellular    4   aug       148         1     -1         0  unknown
18919   no  cellular    2   feb        69         3     -1         0  unknown
13801   no  cellular   20   apr         8         3    315         1  failure
2764    no  cellular   27   jan       366         1    436        10  failure
22174  yes  cellular    6   may       954         1     -1         0  unknown

       y
22824  0
4197   0
19743  0
18971  0
2931   0
...   ..
15522  0
18919  0
13801  0
2764   1
22174  1

[8139 rows x 18 columns]